@import "@blueprintjs/core/lib/css/blueprint.css";

:root {
  --primary-green: #59B17A;
  --light-green: rgba(89, 177, 122, 0.1);
  --text-primary: #1D1E21;
  --background: #FFFFFF;
  --white: #FFFFFF;
  --black: #000000;

  /* Overriding Blueprint Variables if needed */
  --bf-brand-primary: var(--primary-green);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-primary);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  /* Fallback until font loaded */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}